* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Fredoka One', sans-serif;
    font-weight: 400;
}


/* titolo */
h1 {
    color: #e53170;
    text-align: center;
    padding: 30px;
    font-weight: 900;
    font-family: 'Fredoka One', cursive;

}

/* presentazione */
#explanation {
    margin: auto;
    font-size: 15px;
    color: #385065;
    max-width: 980px;
    text-align: center;
}

/* persone */

/* container */
.container {
    max-width: 1000px;
    margin: 0 auto;

}

.container>div {
    padding: 30px;
    width: calc(100% / 3 - 15px);
    background-color: #0f0e17;
    margin-right: 15px;
    padding: 0;
    margin-top: 40px;
    border-radius: 5px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;



}

/* singoli */
.presentaion {
    width: fit-content;
}

h2 {
    font-size: 1rem;
    color: #f2f3f7;
    padding-top: 5px;
    padding-left: 5px;

}

h3 {
    font-size: 0.8rem;
    color: #fef1e1;
    padding-top: 10px;
}

p {
    font-size: 0.8rem;
    color: #13bae5;
    padding-top: 10px;
}

img {
    width: 90px;
    padding-right: 10px;
}